@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600;700&family=Jost:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Jost', sans-serif;
    color: #2e2f31;
}